/* 重置css文件 */
body,h1,h2,h3,ul,ol,li,dl,dd,dt,p {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

ul, ol, li {
  list-style: none;
}

/* 对斜体元素进行设置 */
i, em {
  font-style: normal;
}
